site_name: PostalPoint Plugin Development
remote_branch: public
theme:
  name: material
  custom_dir: overrides
  palette:
    scheme: default
    primary: blue
  logo: assets/logo.svg
  favicon: https://postalpoint.app/images/favicon-voxel.png
  features:
    - content.code.copy
extra:
  homepage: https://postalpoint.app
  analytics:
    provider: custom
    url: analytics.netsyms.net
    siteid: 57
  version:
    provider: mike
    alias: true
extra_css:
  - assets/styles.css
plugins:
  - privacy
  - search
  - mike:
      alias_type: symlink
      redirect_template: null
      deploy_prefix: ''
      canonical_version: null
      version_selector: true
      css_dir: css
      javascript_dir: js
markdown_extensions:
  - def_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets:
      base_path: 'docs/'
  - pymdownx.superfences
